* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  width: 1015px;
  height: 100%;
  margin: 0 auto;
  background: #000000;
  font-family: "Arial Narrow", Helvetica, sans-serif;
}

/* ---------------------------- Header */
header {
  position: relative;
  height: 320px;
  width: 100%;
  background: 80% 10% url("../images/car.png") no-repeat, linear-gradient(to bottom, #2f3339, #17181b 80px, #000 1rem, #000 15rem, #2f3339 1rem, #16181b);
  margin-bottom: 25px;
}

header .logo {
  height: 100%;
  width: 100%;
  margin-top: 85px;
  margin-left: 95px;
}

header .logo span {
  text-transform: uppercase;
}

header .logo h1 {
  color: #fd6703;
  font-weight: normal;
}

header .logo h3 {
  color: #a8aebe;
}

header .menu {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 0 23px;
  background: linear-gradient(to bottom, #fd6c03, #fd5103);
  color: #ffff;
  font-family: Arial, Helvetica, sans-serif;
}

header .menu a {
  color: #23262b;
  text-decoration: none;
  font-weight: bold;
  text-align: center;
  width: 170px;
  display: inline-block;
  padding: 10px 10px 8px 10px;
  margin-bottom: 5px;
}

header .menu .active {
  color: #fd6703;
  background: linear-gradient(to bottom, #23262b, #17181c);
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
}

/* ---------------------------- Main */
main {
  display: flex;
  padding: 0 22px;
  background: #2f3239;
}

main h2 {
  color: #fd6703;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;
}

/* ---------------------------- Module Gallery */
.gallery-module {
  color: #e5e5e5;
  flex: 1;
  padding: 15px 20px;
  border-left: 1px dashed #a9a9a9;
  border-right: 1px dashed #a9a9a9;
}

.gallery-module p {
  font-size: 0.85rem;
  font-family: Tahoma, sans-serif;
  margin: 15px 0;
  color: #e5e5e5;
}

.gallery-module p a {
  color: #e5e5e5;
}

.gallery-module .gallery {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
  gap: 5px;
}

.gallery-module .gallery img {
  width: 49%;
  margin: 5px 0;
  padding: 5px;
  background: #fff;
}

/* ---------------------------- Module About */
.services-module {
  color: #e5e5e5;
  flex: 1;
  padding: 15px 20px;
  border-left: 1px dashed #a9a9a9;
}

.services-module p {
  font-size: 0.85rem;
  font-family: Tahoma, sans-serif;
  margin: 15px 0;
  color: #e5e5e5;
}

.services-module p a {
  color: #e5e5e5;
}

.services-module li {
  margin: 20px 5px;
  list-style-type: none;
  font-weight: bold;
}

.services-module li::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fd6703;
  margin-right: 10px;
  box-shadow: 0 1px 3px #fff inset;
}

/* ---------------------------- Module About */
.about-module {
  color: #e5e5e5;
  flex: 1;
  padding: 15px 20px;
  border-left: 1px dashed #a9a9a9;
}

.about-module p {
  font-size: 0.85rem;
  font-family: Tahoma, sans-serif;
  margin: 15px 0;
  color: #e5e5e5;
}

.about-module p a {
  color: #e5e5e5;
}

/* ---------------------------- Footer */
footer {
  padding: 0 48px 28px 48px;
  height: 100px;
  margin-top: auto;
  background: #000000;
  width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 9px solid #fd6a03;
}

footer h2 {
  color: #fd6703;
  margin-bottom: 10px;
}

footer p {
  width: 350px;
  font-size: 0.85rem;
  color: #e5e5e5;
}

/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
