* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.whore-manager-module {
    display: flex;
    width: 600px;
    padding: 20px;
    margin: 0 auto;
}

#display-whores {
    display: inline-block;
    margin: 15px;
    width: 250px;
}

#whore-list {
    background: #bfd8f4;
    padding: 20px;
    margin: 15px 0;
    border-radius: 10px;
}

#whore-list .whore {
    color: #000;
    text-decoration: none;
}

#whore-list .whore:hover {
    cursor: pointer;
}

.whore-form{
    background: #bfd8f4;
    margin: 15px;
    padding: 20px;
    width: 250px;
    border-radius: 10px;
}

.whore-form input {
    padding: 3px;
    margin-bottom: 15px;
    width: 100%;
}

.whore-form button {
    display: inline-block;
    width: 100px;
    margin-left: auto;
}

#add-whore-btn {
    display: block;
    margin-left: auto;
}