
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url(/intro/img/photo-1579546929518-9e396f3cc809.jpeg);
    background-position: center;
    background-size:cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    position: relative;
}
h2{
    font-size: 28px;
    margin: 0;
    text-align: center;
    text-decoration: underline;
    font-style: italic;
}

a{
    text-decoration: none;
    color: #000;
}

ul{
    padding: 0;
    margin: 0;
    list-style-type: none;
}

ol{
    margin: 0 auto;
    padding: 0;
    width: 60%;
}

ol li{
    padding: 10px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.2s ease-in-out ;
}


ol li:first-child:hover{
    background-color: rgba(229, 151, 255, 0.262);
}

ol li p::before{
    content: '•';
    clear: both;
    margin-right: 4px;
}

ol li:nth-child(odd){
    background-color: rgba(255, 255, 255, 0.331);
    text-align: right;
}

ol li:nth-child(odd):hover{
    background-color: #e042ff31;
}

ol li:nth-child(even):hover{
    background-color: rgba(0, 179, 255, 0.297);
}

ol li:nth-child(even){
    text-align: left;
}

nav{
    position: sticky;
    top: 0;
    left: 0;
    width:100%;
   
}


.header{
    padding: 20px;
    border-radius: 10px;
}


.navbar{
    display: flex;
    justify-content: space-around;
    margin: 15px 0;
    background-color: rgba(255, 255, 255, 0.516);
    border-radius: 10px;
}

.active{
    background-color: rgba(250, 159, 48, 0.625) ;
    border-radius: 10px;
}

li{
    text-transform: uppercase;
    font-size: 0.7rem;
    line-height: 1.5rem;
}

li a {
    color: rgb(36, 36, 36);
    font-weight: 800;
    margin: 0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover{
    background-color: rgba(8, 19, 43, 0.392);
    transition: all ease-in-out .3s;
}

p{
    line-height: 22px ;
}

form{
    text-align: right;
    width: 40%;
    margin: 10px auto;
    padding: 15px;
    background-color: rgba(250, 253, 255, 0.345);
    border-radius: 15px;
}

input:checked{
    color: red
}

.header{
    margin-top: 60px;
    padding: 20px;
    background-color: rgba(190, 227, 255, 0.267);
    border-radius: 10px;
}

table{
    margin: 0 auto;
}

th{
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(53, 72, 150);
    color: #fff;
}
td{
    padding: 5px 10px;
    font-size: 16px;
    background-color: rgb(146, 164, 235);
}
.content{
    width: 80%;
    margin: 0 auto;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 20px  0;
}

.el{
    padding: 20px;
    margin: 10px 0;
    background-color: rgba(45, 140, 255, 0.379);
    border-radius: 15px;
    max-height: 150px;
    max-width: 300px;
    overflow:auto;
    word-break: break-all;
}

.el:nth-child(2){
    word-break:keep-all;
}

.el:nth-child(3){
    opacity: .5;
}

.galery{
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
    width: 90%;
    margin: 25px auto;
    
}

.block{
    width: 45%;
    height: 400px;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    box-shadow: 10px 10px 10px 0px rgb(111, 111, 111);
    transition: all .4s;
}

.block:hover{
    box-shadow: 0px 0px 20px 10px rgba(255, 235, 180, 0.817);;
}

.block1{
    background-image: url(/intro/img/86786bba9b97f7c6_mi.jpg);
}

.block2{
    background-image: url(/intro/img/playtech.png);
}

.colored{
    color:rgb(198, 67, 67);
    font-weight: bold;
}

.call-icon{
    position: absolute;
    display: flex;
    align-items: flex-end;
    right: 20px;
    bottom: 20px;
    border-radius: 50%;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 0 20px 0px rgba(255, 245, 168, 0.735);
    transition: all .4s;
    z-index: 10;
}
.call-icon:hover{
    transform: scale(1.3);
    box-shadow: 0 0 20px 20px rgba(255, 245, 168, 0.735);
}

.call-icon img{
    margin-bottom:-4px;
    width: 60px;
    height: 60px;   
}

footer{
    padding: 20px;
    width: 100vw;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.269);
}

@media screen and (max-width: 480px) {
    
    .list ol{
        width: 100%;
        margin: 15px auto;
    }

    .list li {
        width: 100%;
    }

    table{
        display: none;
    }
}