* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e7e5c8;
    margin: 0 auto;
    width: 707px;
    font: 11px Tahoma, sans-serif;
}

h3 {
    font: 14px "Times New Roman", serif;
    font-weight: bold;
}

a:hover {
    text-decoration: none;
}

header {
    min-height: 88px;
    position: relative;
    width: 100%;
    vertical-align: baseline;
}

.logo {
    margin: 25px 20px;
}

.phone {
    font: 14px "Times New Roman", serif;
    position: absolute;
    right: -25px;
    top: 0;
    width: 275px;
    height: 90px;
    float: right;
    color: #fff;
    padding-top: 28px;
    padding-left: 125px;
    text-indent: -15px;
    font-weight: bold;
    line-height: 15px;
    background-image: url(../images/phone.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 30;
}

.phone p {
    margin: 0;
    color: #fff;
    font: 11px Tahoma, sans-serif;
    font-weight: bold;
}

main {
    display: inline-block;
    width: 100%;
    margin: 4px auto;
    padding: 25px 0 30px 0;
    box-shadow:  0 1px 0 #c0bd9a, 0 -1px 0 #f1f0e0, 0 2px 0 #f1f0e0, 0 -2px 0 #c0bd9a;
    z-index: 1;
}

.banner {
    width: 49%;
    min-height: 275px;
    float: left;
    background-image: url(../images/ho.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.content {
    width: 45%;
    margin-left: auto;
    font: 11px Tahoma, sans-serif;
}

.content h3 {
    text-indent: 35px;
    font-size: 14px;
    color: #6e6b3d;
}

p {
    color: #8e8c77;
    margin-top: 12px;
}

.highlighted,
a {
    color: #90aa1f
}

aside {
    background-color: #dedbbb;
    padding: 8px 0;
    box-sizing: border-box;
    border-radius: 4px;
}

.block {
    display: inline-block;
    vertical-align: top;
    width: 33%;
    min-height: 180px;
    padding: 0 16px;
    box-sizing: border-box;
}

.block h3 {
    margin-bottom: 10px;
}

h3,
strong {
    color: #6e6b3d;
}

.block:nth-child(2) {
    box-shadow: 1px 0 0 #f1f0e0, -1px 0 0 #c0bd9a, 2px 0 0 #c0bd9a, -2px 0 0 #f1f0e0;
}

.block:nth-child(3){
    background-image: url(../images/elephant.jpg);
    background-position:  bottom 8px right 3px;
    background-repeat: no-repeat;
}

.block:nth-child(3) p {
    max-width: 135px;
}

.img-wrap,
.img-wrap-lg {
    display: inline-block;
    margin: 4px 3px;
    height: 100%;
    width: 46%;
    background-color: #b7b192;
    padding: 3px 18px 3px 3px;
    border-radius: 5px;
    box-sizing: border-box;
}

.img-wrap-lg {
    width: 100%;
    padding: 3px;
    margin: 0;
}

.img-wrap img,
.img-wrap-lg img {
    width: 100%;
    border-radius: 2px;
    vertical-align: middle;
}

ul {
    margin: 15px 0 20px 0;
    list-style-type: none;
}

.block li a {
    line-height: 18px;
    font-size: 11px;
    color: #6a684d;
}

.block li::before{
    content: "•"; 
    color: #6a684d;
    display: inline-block;
    width: 1em;
}
footer {
    padding: 15px 0 15px 15px;
    background-image: url(../images/welcome.jpg);
    background-size: 50px 75px;
    background-repeat: no-repeat;
    background-position: top 15px left 10px;
}

.info {
    vertical-align: top;
    width: 260px;
    margin-left: auto;
    padding-top: 20px;
    padding-left: 60px;
    background-image: url(../images/map.jpg);
    background-repeat: no-repeat;
}

.info h3 {
    text-indent: 10px;
}

.info p {
    vertical-align: bottom;
    margin: 5px 0;
}