@mixin menu-top-bar($color: #ff7800) {
    border-top: 14px solid $color ;
}

@mixin gradient($color1: #ff7800, $color2: #ffff) {
    background: linear-gradient(to top, $color1, $color2);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    font-family: Arial, sans-serif;
    background: #ffff;
}

/* --------------------------------------------- Header */

header {
    @include  gradient( #f0f0f0, #ffff);

    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .menu {
            a {
                display: inline-block;
                color: #343434;
                @include  gradient( #f0f0f0, #ffff);
                text-align: center;
                text-decoration: none;
                padding-top: 55px;
                font-size: 22px;
                height: 140px;
                width: 130px;
                position: relative;

                &:hover {
                    @include gradient( #d9d9d9, #ffff);
                }

                &.active {
                    @include gradient( #d9d9d9, #ffff);
                    @include menu-top-bar(#d5d5d5 !important);
                }

                &.about-us {
                    @include menu-top-bar();
                }

                &.offers {
                    @include menu-top-bar(#319aa3);
                }

                &.contact-us{
                    @include menu-top-bar(#1e3436);
                }

                &::before {
                    content: attr(data-hint);
                    position: absolute;
                    box-sizing: border-box;
                    align-items: center;
                    padding: 0 15px;
                    top: 110px;
                    right: 70px;
                    width: 200px;
                    height: 40px;
                    border-radius: 10px;
                    background: #f2f2f2;
                    font-size: 14px;
                    box-shadow: 0 0 1px 1px #ccc;
                    z-index: 10;
                    display: none;
                }

                &::after {
                    content: '';
                    position: absolute;
                    top: 94px;
                    right: 90px;
                    z-index: 11;
                    width: 0;
                    height: 0;
                    border-bottom: 16px solid #f2f2f2;
                    border-left: 14px solid transparent;
                    display: none;
                }

                &:hover::before {
                    display: flex;
                }

                &:hover::after {
                    display: block;
                }
            }
        }
    }
}

/* ---------------------------------------------- Container */

.container {
    margin: 0 auto;
    width: 1000px;
}

/* ---------------------------------------------- Row-dark */

.row-dark {
    position: relative;
    padding: 10px 0 5px 10px;
    width: 100%;
    background: linear-gradient(to top, #494949, #333333);
    color: #ffffff;

    .description {
        padding: 10px 0 10px 18px;
        margin: 10px 0;
        border-left: 8px solid #646464;
        position: relative;

        img {
            position: absolute;
            right: 13%;
            top: -43px;
            display: inline-block;
            padding: 4px 0 0 4px;
            width: 140px;
            height: 140px;
            background-size: cover;
            background-image: url(../images/shadow.png);
        }
    }
}

.row-light {
    width: 100%;
    padding: 20px 0;

    h3 {
        font-weight: normal;
        margin-bottom: 10px;
    }

    .description {
        width: 480px;
        padding: 10px 85px 5px 18px;
        font-size: 14px;
        margin-bottom: 25px;
        border-left: 8px solid #efefef;
        background-image: url(../images/p1.jpg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: contain;

        &:nth-child(3) {
            background-image: url(../images/p2.jpg);
        }
    }

    .grid {
        display: flex;

        .item {
            padding: 25px 15px 15px 15px;
            width: 33%;
            color: #616161;
            border-left: 8px solid #efefef;

            ul {
                list-style-type: none;
            }

            h3 {
                position: relative;
                margin-left: 15px;

                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    top: -12px;
                    left: -17px;
                    width: 40px;
                    height: 40px;
                    background-image: url(../images/dot.jpg);
                    background-repeat: no-repeat;
                    background-size: contain;
                    z-index: -1;
                }
            }

            p,
            ul {
                padding: 10px;
            }

            &:last-child {
                border-right: 8px solid #efefef;
            }
        }
    }

    form {
        font-family: "Times New Roman", serif;

        div {
            margin-bottom: 10px;
        }

        label {
            display: inline-block;
            width: 100px;
            vertical-align: top;
            text-align: right;
        }

        input,
        textarea {
            border: 1px solid #d6d6d6;
        }

        button {
            width: 100px;
            padding: 5px;
            margin-left: 105px;
            background: #dddddd;
            border: 1px solid #cccc99;
        }
    }
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50px;
    padding-top: 12px;
    text-align: center;
    background: #343434;
    font-size: 14px;
    color: #fff;
    vertical-align: center;

    a {
        color: #fff;
    }
}
